

body
{
    margin: 0;
    background-color:rgb(112, 194, 221);
}

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:larger;
    font-weight:lighter;
    font-size:38px;
    
    
}

.choices
{
    display:flex;
    align-items: center;
    width:100%;
    justify-content:center;
    justify-content:space-around;
}

.score-board
{

}


.header 
{
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    justify-content: center;
    display:flex;
    width:95%;
    padding: 20px;
    
}