

body
{
    margin: 0;
    background-color:rgb(109, 199, 230);
}

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive;
    font-size:larger;
    font-weight:lighter;
    
    
    
}

.choices
{
    display:flex;
    align-items: center;
    width:100%;
    justify-content:center;
    justify-content:space-around;
}

.score-board
{
    border: 5px solid white;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size:40px;
    border-radius:4px;
    padding: 15px 20px;
    text-align:center;
    border: 3px solid white;
    position:relative;
}


.header 
{
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    justify-content: center;
    display:flex;
    width:95%;
    padding: 20px;
    
}



.badge
{
    background: #D2122E;
    font-size:17px;
    padding: 2px 10px;
}

#user-label
{
    position:absolute; 
    top:30px;
    left:-28px;
    
    
}

#computer-label
{
    background: #F4C430;
    position:absolute; 
    top:30px;
    left:165px;
    
    
}


.result
{
    font-size:45px;
    color:white;
}

.result > p
{
    text-align:center;
    padding: 15px 30px;
    margin: 20px auto;
}