

body
{
    margin: 0;
    background-color:rgb(112, 194, 221);
}

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive;
    font-size:larger;
    font-weight:lighter;
    font-size:38px;
    
    
}

.choices
{
    display:flex;
    align-items: center;
    width:100%;
    justify-content:center;
    justify-content:space-around;
}

.score-board
{
    border: 5px solid white;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size:40px;
    border-radius:4px;
    padding: 15px 20px;
    
}


.header 
{
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    justify-content: center;
    display:flex;
    width:95%;
    padding: 20px;
    
}